<% layout("/layouts/boilerplate") %>
<body>
    <div class="container mt-3">
        <div class="row">
            <div class="col-8 offset-2">
                <h3>Listing Details:</h3>
            </div>
        </div>
        
        <div class="row">
            <div class="card col-8 offset-2">
                <img 
                    src="<%= listing.image?.url || '/default-image.jpg' %>" 
                    class="card-img-top show-img" 
                    alt="Listing Image"
                >
                <div class="card-body">
                    <p class="card-text">
                        <b><%= listing.title %></b><br>
                        <%= listing.description %> <br>
                        &#8377;<%= listing.price?.toLocaleString("en-IN") || 'N/A' %> <br>
                        <%= listing.location || 'Location not available' %> <br>
                        <%= listing.country || 'Country not specified' %> <br>
                    </p>
                </div>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-2 offset-2">
                <a href="/listing/<%= listing._id %>/edit" class="btn btn-dark add-btn">Edit</a>
            </div>
            <div class="col-2">
                <form method="post" action="/listing/<%= listing._id %>?_method=DELETE">
                    <button type="submit" class="btn btn-dark add-btn">Delete</button>
                </form>
            </div>
        </div>
    </div>
</body>
